body {
    background-color: hsl(0, 57%, 40%);
    overflow-y: hidden;
    position: relative;
}

.navbar {
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}

.list {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.movieCard {
    background-color: hsl(0, 0%, 70%);
    transition: transform 0.3s ease
}

.movieCard:hover{
    transform: scale(1.05);
}

.poster {
    max-width: 10rem;
}

.bigCard {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.bigPoster {
    width: 10rem;

}

.info {
    margin-top: 3rem;
    font-size: 1.5rem;
}