:root {
    --dark-dark: #000814;
    --darkest-blue: #001d3d;
    --dark-blue: hsl(209, 100%, 25%);
}

body {
    background-color: var(--darkest-blue);
}

.addMovie {
    color: grey;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-around;
    top: 0px;
    padding-bottom: 1rem 0;
    border: 2px solid black;

}

.movieList {
    margin-top: 10rem;
    display: flex;
    gap: 2rem;
}

.movieCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 2rem;
    text-align: center;
    border: 3px solid var(--dark-dark);
}

.movieTitle {
    font-size: 1.2rem;
    font-weight: 600;
}

.movieYear {
    font-style: italic;
}

.posterURL {
    max-width: 10rem;
    margin: .5rem 0 1rem 0
}

