<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
</head>
<body>
    <h1>ADD POST</h1>

    <form action="/posts/add-post" method="post">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="body" name="body">
        <select name="category">
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
            <option value="GOlang">GOlang</option>
            <option value="Rust">Rust</option>
        </select>
        <select name="isPublished">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
        <button>Add</button>
    </form>
</body>
</html>