<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog Post</title>
</head>
<body>
    <form action="/posts/update-post-info" method="post">
        <h1>Update Post</h1>
        <input type="text" name="title" value="{{title}}">
        <input type="text" size="50" name="body" value="{{body}}">
        <select name="category">
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
            <option value="GOlang">GOlang</option>
            <option value="Rust">Rust</option>
        </select>
        <select name="isPublished">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
        <input type="hidden" name="id" value={{id}}>
        <button>Update</button>
    </form>
</body>
</html>