body {
    display: flex;
    flex-direction: column;
}

.search {
    margin-top: .5rem;
}

.delete {
    margin-top: .5rem;
}


.allOrders {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 2rem;
    padding: .5rem
}

.order {
    background-color: hsl(180, 66%, 50%);
    padding: .5rem;
    border-radius: 5%;
}

.emailOrder {
    background-color: hsl(180, 66%, 50%);
    font-size: 2rem;
    margin: .5rem;
    padding: 2rem;
    border-radius: 5%;
}