<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Post</h1>
    {{#arr}}
    <form action="/posts/update-info" method="POST">
        <input type="text" placeholder="title" name="title" value="{{title}}">
        <input type="text" placeholder="body" name="body" value="{{body}}">
        <input type="hidden" name="id" value={{post_id}}>
        <button>update</button>
    </form>
    {{/arr}}
</body>
</html>